/* Global Styling */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

:root {
    --primary-color: #3A3333;
    --secondary-color: #EAA534;
    --accent-color: #929497;
    --hover-color: #EFC356;
    --background-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
}

h1 {
    font-size: 3.625rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}

h1, h2, h3, h4 {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
}

.column-container {
  max-width: 1140px;
  margin: auto;
}

.multi-column {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
    .multi-column {
        flex-direction: column;
    }
}

.column-1, 
.column-2,
.column-3 {
    flex: 1;
}

.button {
  background: transparent;
  position: relative;
  padding: 0.625rem 1.5625rem;
  display: block;
  font: 500 1.25rem 'Raleway', sans-serif;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  border-radius: 3.125rem;
  overflow: hidden;
  color: var(--primary-color);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  z-index: 1;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.button:hover {
  color: var(--primary-color);
  border: 2px solid var(--secondary-color);
}

.button:hover::before {
  box-shadow: inset 0 0 0 10em var(--secondary-color);
}

a.button {
  display: inline-block;
}

a.button:hover {
  text-decoration: none;
}

.header-button {
  text-align: right;
}

.form-group input,
.form-group textarea,
.form-group select {
    color: #fff;
    font: 500 1rem 'Raleway', sans-serif;
    padding: 1rem;
    margin: 0.3125rem 0;
    border-radius: 0.625rem;
    background-color: var(--primary-color);
    width: 100%;
    border: none;
}

.form-group textarea {
    height: 9.375rem;
    resize: none;
    margin-bottom: 1.25rem;
}

::placeholder {
    color: var(--accent-color);
}

:focus {
    outline: 1px dotted var(--hover-color);
}

.fa-solid {
    color: var(--accent-color);
    font-size: 1.125rem;
}

.white {
  color: aliceblue;
}

/* Header */
.main-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: fit-content;
  min-height: 80px;
  background-color: var(--background-color);
  padding: 0 50px;
  z-index: 1;
}

/* Navbar */
/* Nav Links */
.navbar a, 
.dropdown-menu a {
  color: var(--primary-color);
  text-transform: uppercase;
  transition: color 0.5s;
}
.navbar a:hover,
.dropdown-menu a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}   

.navbar .nav-link {
  padding: 0 1em;
}

/* Dropdown Button */
.dropdown-button {
  color: var(--primary-color);
  font: 400 1.125rem 'Raleway', sans-serif;
  text-transform: uppercase;
  background-color: var(--background-color);
  border: none;
  transition: color 0.5s;
}
.dropdown-button .dropdown-arrow {
  color: var(--primary-color);
  transition: color 0.5s;
}

/* To position the dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Menu (Hidden by Default) */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Dropdown menu links */
.dropdown-menu a {
  padding: 1rem;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Change the state of the dropdown button when the dropdown menu is shown */
.dropdown:hover .dropdown-button {
  color: var(--secondary-color);
  background-color: var(--background-color);
  cursor: pointer;
}
.dropdown:hover .dropdown-button .dropdown-arrow {
  color: var(--secondary-color);
}

/* Below Header */
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('//localhost/homehive/assets/img/header-image.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: 570px;
  display: flex;
  text-align: center;
}
/*Search Bar*/
#search-bar {
  width: 50%;
  background-color:var(--background-color);
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 0.625rem;
  box-shadow: 0 0 5px 2.5px var(--hover-color), 0 0 0 5px var(--background-color);
}
#search-bar input {
  color: var(--primary-color);
  font: 500 1rem 'Raleway', sans-serif;
  background-color: transparent;
  width: 100%;
  border: none;
}
#search-bar .column-1 {
  flex-grow: 0.75;
}
#search-bar .column-2 {
  flex-grow: 0.25;
  text-align: right;
}
/* Search Icon */
.rotate-btn {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.rotate-btn:hover .fa-solid {
  transform: rotate(90deg);
}

.rotate-btn .fa-solid {
  transition: transform 0.2s ease-in-out;
  
}

.rotate-btn:hover .fa-solid:before {
  content: "\f176";
  transition: content 0.2s ease-in-out;
  color: var(--secondary-color);
}

/* Contact Page */
.contact-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('//localhost/homehive/assets/img/contact-bg-img.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

/*Login + Register Pages*/
.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('//localhost/homehive/assets/img/login-reg-bg.jpg');
    background-size: cover;
    background-position: center center;
}
 
.form-container form {
    padding: 20px;
    border-radius: 35px;
    background: #fff;
    text-align: center;
    width: 500px;
}

.form-container .form-group h3,
.form-container .form-group div.form-control {
    margin-bottom: 5px;
}

.form-container .form-group button {
    margin-bottom: 20px;
}

/*Footer*/
footer {
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.house-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.house-button img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.house-button:hover img {
  transform: scale(1.1);
}

.house-button h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  text-align: center;
  z-index: 1;
}
