/* Global Styling */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

:root {
    --primary-color: #3A3333;
    --secondary-color: #EAA534;
    --accent-color: #929497;
    --hover-color: #EFC356;
}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
}

h1 {
    font-size: 3.625rem;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}

h1, h2, h3, h4 {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
}

.column-container {
    max-width: 1140px;
    margin: auto;
    padding: 10px;
}

.multi-column {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .multi-column {
        flex-direction: column;
    }
}

.column-1, 
.column-2 {
    flex: 1;
}

.button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 3.125rem;
    padding: 0.625rem 1.5625rem;
    text-align: center;
    display: block;
    font: 500 1.25rem 'Raleway', sans-serif;
    cursor: pointer;
}

.button:hover {
    background-color: var(--hover-color);
}

.form-group input,
.form-group textarea,
.form-group select {
    color: #fff;
    font: 500 1rem 'Raleway', sans-serif;
    padding: 1rem;
    margin: 0.3125rem 0;
    border-radius: 0.625rem;
    background-color: var(--primary-color);
    width: 100%;
    border: none;
}

.form-group textarea {
    height: 9.375rem;
    resize: none;
    margin-bottom: 1.25rem;
}

::placeholder {
    color: var(--accent-color);
}

:focus {
    outline: 2px solid var(--hover-color);
}

.fa-solid {
    color: var(--accent-color);
}

/* Contact Page */
.contact-section {
    background-image: url('//localhost/property-rental-listing/assets/img/contact-bg-img.jpg');
    background-size: cover;
    position: relative;
    padding: 3.125rem 0;
    z-index: 0;
}

.contact-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('//localhost/property-rental-listing/assets/img/header-image.jpg'); */
}

.contact-info * {
    color: #fff;
}

/*Login + Register Pages*/
.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
 
.form-container form {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    width: 500px;
}

.form-container .form-group h3,
.form-container .form-group div.form-control {
    margin-bottom: 5px;
}

.form-container .form-group button {
    margin-bottom: 20px;
} 

/*Dashboard*/
a.button {
    display: inline-block;
}
a.button:hover {
    text-decoration: none;
}
.dashboard-header div.column-2 {
    text-align: right;
}


/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .nav-button,
  .nav-select,
  .nav-link {
    margin-left: 10px;
  }
  
  .nav-link {
    margin-left: auto;
    text-decoration: none;
    color: #333;
  }

/*Sign In Button Header*/
.custom-button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #EAA534;
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: #3A3333;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }

  .custom-button span {
    margin: 10px;
  }

  .custom-button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }

  .custom-button:hover {
    color: #3A3333;
    border: 1px solid #3A3333;
  }

  .custom-button:hover::before {
    box-shadow: inset 0 0 0 10em #EAA534;
  }
  

/*search*/

.search {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('//localhost/property-rental-listing/assets/img/header-image.jpg');
    background-size:cover;
    position: relative;
    padding: 10rem 0rem;
    background-position: top;
}

.container-s {
    text-align: center;
    padding-top: 5px;
}

/*Search Bar*/
* {
    outline: none;
  }
  
  .tb {
    display:table;
    width: 100%;
  }
  
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  
 .td input,
 .td button {
    color: var(--primary-color);
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
  
  #cover {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 1000px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color:#ffffff;
    border-radius: 20px;
    box-shadow: 0 0px 15px #EAA534, 0 0 0 10px #ffffff;
    transform: scale(0.6);
  }
    
  .td input[type="text"] {
    width: 100%;
    height: 90%;
    font-size: 35px;
    line-height: 1;
  }
  
  .td input[type="text"]::placeholder {
    color: var(--primary-color);
  }
  
  #s-cover {
    width: 1px;
    padding-left: 35px;
  }
  
  .td button {
    position: relative;
    display: block;
    width: 84px;
    height: 9px;
    cursor: pointer;
  }
  
  #s-circle {
    position: relative;
    top: -35px;
    left: 12px;
    width: 50px;
    height: 50px;
    margin-top: 0;
    border-width: 15px;
    border: 10px solid var(--primary-color);
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }
  
  button span {
    position: absolute;
    top: 55px;
    left: 70px;
    display: block;
    width: 50px;
    height: 10px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }
  
  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -50px;
    right: 0px;
    width: 45px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 10px;
    border-width: 0;
    background-color: var(--primary-color);
    border-radius: 20px;
  }
  
  #s-cover:hover span {
    top: 80%;
    left: 106.2px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }
  
  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }
  
  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: var(--primary-color);
  }
  