:root {
    --color-primary: #EAA534;
    --color-secondary: #3A3333;
    --color-text: #808080;
    --color-accent: #EFC356;
    --color-bg: #FFFFFF;

    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Poppins', sans-serif;

    --fs-300: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.80rem);
    --fs-400: clamp(0.83rem, calc(0.78rem + 0.29vw), 1.00rem);
    --fs-500: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
    --fs-600: clamp(1.20rem, calc(1.07rem + 0.63vw), 1.56rem);
    --fs-700: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
    --fs-800: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
    --fs-900: clamp(2.07rem, calc(1.73rem + 1.70vw), 3.05rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    /* outline: 1px solid red; */
}

body {
    color: var(--color-text);
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h1 {
    color: var(--color-primary);
    font-size: var(--fs-900);
}

h2 {
    color: var(--color-primary);
    font-size: var(--fs-700);
}

h3 {
    color: var(--color-secondary);
    font-size: var(--fs-500);
}

h4 {
    color: var(--color-primary);
    font-size: var(--fs-300);
    text-transform: uppercase;
}

a {
    color: var(--color-primary);
}

a:hover,
a:focus {
    color: var(--color-accent);
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.form-group label,
.form-group input,
.form-group textarea,
.form-group button {
    font: inherit;
}

.body-wrapper {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.boxed {
    width: min(100% - 1rem, 1140px);
    margin: 0 auto;
}

.full-width {
    width: 100%;
}

.flow > *:not(:first-child) {
    margin-top: 1em;
}

.p-50 {
    padding: 50px 0;
}

.centered {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

:focus {
    outline: 1px dotted var(--color-accent);
}

.hf-block {
    min-height: 80px;
    padding: 0 1em;
    display: flex;
    align-items: center;
}
/* Header Styling */
.h-block {
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
}

/* Mobile */
.nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-accent);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav li {
    margin: 1em;
}

.nav-link {
    color: var(--color-bg);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
}
.nav-link:hover {
    color: var(--color-bg);
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:focus ~ .hamburger-icon {
    outline: 1px dotted var(--color-accent);
}

.hamburger-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
}

/* Desktop */
@media screen and (min-width: 800px) {
    .hamburger-icon {
        display: none;
    }
    
    .logo {
        flex: 1;
    }
    
    .nav {
        all: unset;
        flex: 1;
    }
    
    .nav ul {
        display: flex;
        justify-content: flex-end;
    }

    .nav-link {
        color: var(--color-secondary);
        transition: color 400ms;
        opacity: 1;
        position: relative;
    }
    
    .nav-link:hover {
        color: var(--color-accent);
    }
}

/* Below Header */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('//localhost/homehive/assets/img/header-image.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    min-height: 570px;
}

.hero div > * {
    color: var(--color-bg);
}